<a href="https://colab.research.google.com/github/priyanshunayak05/NLP/blob/main/RegEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Regular Expression

Regular expressions or RegEx is a sequence of characters mainly used to find or replace patterns embedded in the text.

#re.match()

The re.match function returns a match object on success and none on failure

In [1]:
import re

# Match if the string starts with "Hello"
result = re.match("Hello", "Hello world, welcome to regex!")
print(result)

<re.Match object; span=(0, 5), match='Hello'>

In [2]:
print(result.group())

Hello

#re.search()

Matches the first occurrence of a pattern in the entire string(and not just at the beginning)

In [14]:


# Search for "apple" anywhere in the string
result = re.search("apple", "I like green apples and red apples.")
print(result.group())

apple

#re.findall()

It will return all the occurrences of the pattern from the string

In [13]:


# Find all occurrences of "dog"
result = re.findall("dog", "The quick brown fox jumps over 2 lazy dogs!")
print(result)

['dog']

#Some patterns

1. /b

In [8]:
str = r'The quick brown fox jumps over 2 lazy dogs!'

In [9]:
x = re.findall(r"\bjum", str)
print(x)

['jum']

2. /d

In [6]:
str = "Today's date is 11 August 2025, but I think it would be 9"

In [15]:
x = re.findall("\d", str)
print(x)

if (x):
  print("There is a match")
else:
  print("No match")

['2']
There is a match

In [16]:
x = re.findall("\d+", str)
print(x)

if (x):
  print("There is a match")
else:
  print("No match")

['2']
There is a match

In [17]:
x = re.findall("\D", str)
print(x)

if (x):
  print("There is a match")
else:
  print("No match")

['T', 'h', 'e', ' ', 'q', 'u', 'i', 'c', 'k', ' ', 'b', 'r', 'o', 'w', 'n', ' ', 'f', 'o', 'x', ' ', 'j', 'u', 'm', 'p', 's', ' ', 'o', 'v', 'e', 'r', ' ', ' ', 'l', 'a', 'z', 'y', ' ', 'd', 'o', 'g', 's', '!']
There is a match

In [19]:
x = re.findall("\D+", str)
print(x)

if (x):
  print("There is a match")
else:
  print("No match")

['The quick brown fox jumps over ', ' lazy dogs!']
There is a match

#Now just try out /w and /W

In [20]:


str_text = r"The quick brown fox jumps over 2 lazy dogs!"
str_extra = "easy easssy eay ey"

# \w matches word characters (letters, digits, underscore)
print("Word characters:", re.findall(r"\w", str_text))

# \W matches NON-word characters
print("Non-word characters:", re.findall(r"\W", str_text))

Word characters: ['T', 'h', 'e', 'q', 'u', 'i', 'c', 'k', 'b', 'r', 'o', 'w', 'n', 'f', 'o', 'x', 'j', 'u', 'm', 'p', 's', 'o', 'v', 'e', 'r', '2', 'l', 'a', 'z', 'y', 'd', 'o', 'g', 's']
Non-word characters: [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '!']

#Metacharacters

characters with special meaning

1. (.)  matches any character (except newline character)

In [21]:
str = r"The quick brown fox jumps over the lazy dog."

In [22]:
x = re.findall("ju.", str)
x2 = re.findall("ju...", str)

print(x)
print(x2)

['jum']
['jumps']

2. (^) starts with

It checks whether the string starts with the given pattern or not.

In [23]:
x = re.findall("^The", str)

if (x):
  print("Yes")
else:
  print("No match")

Yes

3. ($) ends with

It checks whether the string ends with the given pattern or not.

In [26]:
str = "Python is a very powerful language"

In [27]:
x = re.findall("very$", str)

if (x):
  print("Yes")
else:
  print("No match")

No match

4. (*) matches for zero or more occurrences of the pattern to the left of it

In [45]:
str1 = "easy easssy eay ey"

In [48]:
x = re.findall("eas*y", str1)
print(x)

if (x):
  print("Yes")
else:
  print("No match")

['easy', 'easssy', 'eay']
Yes

5. (+) matches one or more occurrences of the pattern to the left of it

In [47]:
x = re.findall("eas+y", str1)
print(x)

if (x):
  print("Yes")
else:
  print("No match")

['easy', 'easssy']
Yes

6. (?) matches zero or one occurrence of the pattern left to it.

In [49]:
x = re.findall("eas?y",str1)

print(x)

if (x):
  print("Yes")
else:
  print("No match")

['easy', 'eay']
Yes

7. (|) either or

In [51]:
x = re.findall("very|bad", str)
print(x)

if (x):
  print("Yes")
else:
  print("No match")

['very']
Yes

#Try out yourself

Write the code and also write the description about what the expression does.

1. \s+ - (description)

(\s+)  finds sequences of one or more spaces

In [53]:

text = "Python    is   fun"
result = re.findall(r"\s+", text)

print("Matches:", result)

Matches: ['    ', '   ']

2. \bcat\b

> \bcat\b      means match "cat" only if it appears as a whole word, not as part of another word.

In [55]:
text = "The cat sat on the cathedral steps."
result = re.findall(r"\bcat\b", text)

print("Matches:", result)

Matches: ['cat']

3. [A-Z][a-z]+   

Together, [A-Z][a-z]+ matches any word that starts with a capital letter followed by lowercase letters.

In [56]:
text = "London is the capital of England and Paris is in France."
result = re.findall(r"[A-Z][a-z]+", text)

print("Matches:", result)

Matches: ['London', 'England', 'Paris', 'France']

4. https?://\S+

In [57]:

# the entire pattern https?://\S+ finds complete HTTP(S) URLs in text that are space-delimited.
text = "Visit our site at http://example.com or our secure site at https://secure.example.com/page?query=123."

matches = re.findall(r"https?://\S+", text)
print("Matches:", matches)

Matches: ['http://example.com', 'https://secure.example.com/page?query=123.']

5. <.*?>

In [59]:
#  <.*?> matches the smallest possible substring starting with < and ending with > — perfect for finding individual HTML tags.
text = "<p>Hello</p> <b>world</b>"
matches = re.findall(r"<.*?>", text)

print("Matches:", matches)

Matches: ['<p>', '</p>', '<b>', '</b>']

6. ^[A-Za-z0-9_]+$

In [60]:
# "The string must contain only letters, digits, or underscores — no spaces, punctuation, or other characters — from start to finish."

text_list = [
    "Python3",
    "Valid_Name_123",
    "invalid name",
    "special@char"
]

pattern = r"^[A-Za-z0-9_]+$"

for text in text_list:
    if re.match(pattern, text):
        print(f"{text} → Valid")
    else:
        print(f"{text} → Invalid")

Python3 → Valid
Valid_Name_123 → Valid
invalid name → Invalid
special@char → Invalid

7. #\w+

In [61]:
# Matches one or more word characters (letters, digits, underscores).

text = "Learning regex is fun! #Python #Coding #100DaysOfCode"
matches = re.findall(r"#\w+", text)
print(matches)

['#Python', '#Coding', '#100DaysOfCode']

8. @\w+

In [62]:
# @ → Matches the literal @.

# \w+ → Matches one or more word characters.

# Finds social media mentions.

text = "Thanks @JohnDoe and @Jane_D for the help!"
matches = re.findall(r"@\w+", text)
print(matches)

['@JohnDoe', '@Jane_D']

9. \b[A-Z][a-z]+\b

In [63]:
# Matches proper nouns and other capitalized words.
text = "Alice went to Paris with Bob."
matches = re.findall(r"\b[A-Z][a-z]+\b", text)
print(matches)

['Alice', 'Paris', 'Bob']

10. \d+(\.\d+)?

In [64]:
# Matches integers and decimal numbers.
text = "Prices are 10, 20.5, and 300.99 dollars."
matches = re.findall(r"\d+(\.\d+)?", text)
print(matches)

['', '.5', '.99']

11. [A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}

In [65]:
#  Matches valid email patterns with common allowed characters before and after @

text = "Contact us at support@example.com or info@my-site.org"
matches = re.findall(r"[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}", text)
print(matches)

['support@example.com', 'info@my-site.org']

12. https?://\S+|www\.\S+

In [66]:

# https?:// → Matches http:// or https://.

# \S+ → One or more non-whitespace characters (rest of the URL).

# | → OR.

# www\.\S+ → Matches URLs starting with www..

text = "Visit http://example.com or https://secure.site.org or www.test.com"
matches = re.findall(r"https?://\S+|www\.\S+", text)
print(matches)

['http://example.com', 'https://secure.site.org', 'www.test.com']

13. [$₹€]\d+(\.\d{2})?

In [67]:
# [$₹€] → Matches one currency symbol.

# \d+ → One or more digits.

# (?:\.\d{2})? → Optional decimal point followed by exactly two digits.

text = "The prices are $20, ₹1500, and €99.99"
matches = re.findall(r"[$₹€]\d+(?:\.\d{2})?", text)
print(matches)

['$20', '₹1500', '€99.99']

14. "([^"]+)"

In [69]:

# " → Matches a literal double quote.

# ([^"]+) → Captures one or more characters that are not a double quote.

# " → Matches closing double quote.

text = 'He said, "Hello World" and then left.'
matches = re.findall(r'"([^"]+)"', text)
print(matches)

['Hello World']